trace {
        enabled = true
        fields = 'name,status,exit,duration,realtime,%cpu,%mem,rss,vmem,wchar'
}

report {                                                                                                                        
	enabled = true
  file = '/your/directory/timeline.html.2'
}

timeline {
        enabled = true
        file = '/your/directory/timeline.html.2'
}

// if you want to keep bam files
params.bwa_cpu = 6
params.bam_outdir = '/your/directory/bamfiles_generated' 

process {
	executor = 'slurm'

	withLabel: bwa {
	clusterOptions = { "--cpus-per-task=6 --time=10:0:0 --mem=10G" }
	params.thread = 6
	}

// picard ValidateSamFile, picard Sort, picard index:

	withLabel: short_run {
	clusterOptions = { "--cpus-per-task=1 --time=4:0:0 --mem=20G" }
	}		

// validate picard Dedup variant:

	withLabel: long_run {
	clusterOptions = { "--cpus-per-task=1 --time=12:0:0 --mem=30G" }
	}

	withLabel: himem { 
	clusterOptions = { "--cpus-per-task=1 --time=168:0:0 --mem=50G" }
	}

	withLabel: medmem { 
	clusterOptions = { "--cpus-per-task=1 --time=168:0:0 --mem=30G" }
	}
}
